{
  "$schema": "https://opencode.ai/config.json",

  "instructions": [
    "AGENTS.md"
  ],

  "permissions": {
    "bash": "ask",
    "edit": "allow",
    "write": "allow",
    "read": "allow"
  }
}
